html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

body, html{
	background-color: #EDEDED !important;
}

nav{
	margin-bottom: 30px;
}

#caja{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container_login {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width : 992px) {
  main .container_login{
    width: 40%;
  }
}

#head_login{
	margin-top: 130px;
}

#btn_login{
	width: 95%;
}

/*STYLE SICH*/
main {
  padding-left: 300px;
}

#bread{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;  
}

main .container{
  margin-top: 1.75rem;
}

.login{
  margin: 0 auto;
  width: 40%;
}

.side-nav{
  z-index: 10;
  margin-top: 64px;
  height: 100%
}


@media only screen and (max-width : 552px) {
  header .nav-wrapper{
    margin-right: 0px;
  }
  header .nav-wrapper #titulo {
    font-size: 10px;
  }
}

main .container {
  margin-top: 0.64rem;
}

.row {
  margin-bottom: 10px;
}

.dropdown-content {
  min-width: 120px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
    padding-bottom: 10px;

  }

  header .nav-wrapper{
    margin-right: 0px;
  }
  header .side-nav{
    z-index: 999;
    margin-top: 0px;
  }
  header .nav-wrapper #titulo {
    font-size: 14px;
  }

  nav .brand-logo {
    height: 46px;
    margin: 5px auto;
  } 

  main .container {
    margin-top: 0rem;
  }

  .login{
    margin: 0 auto;
    width: 98%;
  }
}

html{
  background-color: #eeeeee;
}

.card{
  margin: 0 auto;
  box-shadow: none;
}

<<<<<<< HEAD
.card .card-title .foto{
  border-radius: 50%;
  width: 60px;
  min-width: 60px;
}
.card .card-title{
  line-height: 24px;
}

.name{
  font-size: 15px;
}

.email{
  font-size: 12px;
}

.card .card-image img {
  border-radius: 0;
}


#slide-out{
  top: 64px;
}

#titulo{
  font-size: 18px;
}

nav .container{
  width: 100%;
}

@media only screen and (min-width: 993px) {

  main .container {
    width: 96%;
  }

}




h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 .912rem 0;
  margin-top: -100px;
  margin-bottom: 60px;
}

#cajas{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  /*border-top: 3px solid rgb(0, 23, 255);*/
}

nav .brand-logo {
  margin: 5px auto;
} 

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
=======
#user_cedula{
	display: none;
>>>>>>> 437ab34fbf1ad98a388bda790552caca39b7d074
}
